
.profileimage
{
  width: auto;
  height: auto;
  margin: 20px;
  align-items: center;
}

.Imageleft
{
  width: 80%;
  float:left;
}


.DetailsRow1
{
  background-color: #B6B6B6;
}

.DetailsRow2
{
}

.EditProfileBtn
{
  width: 95%;
  margiin-left: 50%;
}
