<ion-header>
  <ion-toolbar>
    <ion-title>
      Google Map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class=ion-padding>
  <!-- <ion-row class=FMLMContent>
    <ion-col>
        <ion-searchbar placeholder="Start Point"></ion-searchbar>
        <ion-searchbar placeholder="End Point"></ion-searchbar>
        <ion-list>
          <ion-item><ion-icon ios="ios-locate" md="md-locate"></ion-icon>Your location</ion-item>
        </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button shape="round" color="success" class="MapButton"><ion-icon ios="ios-play" md="md-play"></ion-icon></ion-button>
    <ion-button shape="round" color="light" class="Mapbutton">Saved Route</ion-button>
    </ion-col>
  </ion-row> -->
    <form [formGroup]="directionForm" (ngSubmit)="calculateAndDisplayRoute(directionForm.value)">
    <ion-item>
      <ion-input formControlName="source" placeholder="Starting Point"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="destination" placeholder="Ending Point"></ion-input>
    </ion-item>
    <ion-button expand="full" shape="round" color="success" type="submit" [disabled]="directionForm.invalid"><ion-icon ios="ios-play" md="md-play"></ion-icon> Start Navigation</ion-button>
  </form>
    <div #mapElement class="map"></div>
</ion-content>
