<ion-header>
  <ion-toolbar>
    <ion-title>
      Rewards <img src="/assets/steps.png" name="stepImg" alt="">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label id="pointBG">
    <p id="pointDisplay"><ion-text id="currPoints">1750</ion-text> steps</p>
  </ion-label>

  <ion-list lines="none">

    <ion-item>
      <ion-label>
        <h1>Hello,<ion-text id="uname"> Username :)</ion-text></h1>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label style="background:silver; text-align:center;"><h1 id="mbrStatus">Silver Member</h1></ion-label>
      </ion-item>
      <ion-label id="pointBG">
        <p id="alignLeh"><ion-text id="currPoints1">1750</ion-text> steps to next tier</p>

      </ion-label>
      <ion-text style="font-size:20px; font-weight:bold; padding-left:8px;">Rewards</ion-text>
      <br>
      <ion-text style="font-size:15px; padding-left:8px;">Select from the options below</ion-text>
  </ion-list>



    <ion-card name="grabCard">
      <img src="/assets/grab.jpg" alt="">
      <ion-header>
        <ion-card-header>
        <ion-card-title>$5 Grab Discount Voucher</ion-card-title>
        <ion-card-subtitle><ion-button size="small" class="bronzeReward">1500 Steps</ion-button></ion-card-subtitle>
        </ion-card-header>
      </ion-header>
    </ion-card>

    <br>

    <ion-card name="watsonsCard">
      <img src="/assets/watsons-logo.png" alt="">
      <ion-header>
        <ion-card-header>
        <ion-card-title>$5 Watsons Discount Voucher</ion-card-title>
        <ion-card-subtitle><ion-button size="small" class="bronzeReward">1500 Steps</ion-button></ion-card-subtitle>
        </ion-card-header>
      </ion-header>
    </ion-card>

    <br>

    <ion-card name="spcaCard">
      <img src="/assets/spca.jpg" alt="">
      <ion-header>
        <ion-card-header>
        <ion-card-title>$5 Donation to SPCA</ion-card-title>
        <ion-card-subtitle><ion-button size="small" class="bronzeReward">1500 Steps</ion-button></ion-card-subtitle>
        </ion-card-header>
      </ion-header>
    </ion-card>



  </ion-content>
