:root {
  --color1: #cd7f32;
  --color2: #aaa9ad;
  --color3: #ffd700;

}

#currPoints{
  font-weight: bold;
  font-size: 20px;
}

#currPoints1{
  font-size: 15px;
}

#alignLeh{
  text-align: center;
  font-size: 15px;
  padding-bottom: 10px;
  color: black;

}

#progressBar{
  background: #33cd5f;
  height: 15px;
}

#pointDisplay{
  background: #488aff;
  color: white;
  text-align: center;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.userTier{
  background: --color1;
  text-align: center;
}
