<ion-header>
  <ion-toolbar color='light'>
    <ion-title>RouteHistory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of subHistory">
  <span *ngIf="!item.isEdit">

    <ion-card-content>
      <strong>Start location:</strong> {{item.sroute}} <br>
      <strong>End location: </strong>{{item.eroute}}
    </ion-card-content>
      <ion-button expand ="block" shape="round" color="success" size="small" (click)="toFeedback()">
       <ion-icon size="small" slot="icon-only" name="star"></ion-icon>
              Submit feedback
      </ion-button>
  </span>
  </ion-card>



</ion-content>
