<ion-header>
  <ion-toolbar color='light'>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
      <app-logo></app-logo>
      <ion-list>
          <div padding>
          <ion-item>
            <ion-icon item-left name="person" color="secondary"></ion-icon>
            <ion-input type="text" placeholder="Email" [(ngModel)]="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon medium item-left name="lock" color="secondary"></ion-icon>
            <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
          </ion-item>
          </div>
        <ion-button expand="block" share="round" color="success" (click)="verifyLogin()" [disabled]="!email || !password" >Login</ion-button>
        <div padding class="center">
              <ion-button fill="clear" (click)="loadForgotpasswordPage()">Forgot Password?</ion-button>
              <br>
              <ion-button fill="clear" (click)="navigatetoRegisterPage()">New user? Sign up</ion-button>
        </div>
      </ion-list>
</ion-content>
